@model WEB.Models.CUAHANG

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CUAHANG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenCuaHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenCuaHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaCuaHang }) |
    @Html.ActionLink("Back to List", "Index")
</p>
