<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("NIPERUME", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Giới thiệu", "About", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Danh mục <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @{
                                WEB.Models.Model1 db = new WEB.Models.Model1();


                                // Lấy danh sách các danh mục từ cơ sở dữ liệu
                                List<WEB.Models.DANHMUC> danhMucList = db.DANHMUCs.ToList();// Code để lấy danh sách từ cơ sở dữ liệu;
                            }
                            @foreach (var danhMuc in danhMucList)
                            {
                                <li>@Html.ActionLink(danhMuc.TenDanhMuc, "DsSanPhamByMaDanhMuc", "XemSanPhamTheoDanhMuc", new { id = danhMuc.MaDanhMuc }, null)</li>


                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Thương hiệu <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @{



                                // Lấy danh sách các danh mục từ cơ sở dữ liệu
                                List<WEB.Models.THUONGHIEU> thuongHieuList = db.THUONGHIEUx.ToList();// Code để lấy danh sách từ cơ sở dữ liệu;
                            }
                            @foreach (var thuongHieu in thuongHieuList)
                            {
                                <li>@Html.ActionLink(thuongHieu.TenThuongHieu, "DsSanPhamByMaThuongHieu", "XemSanPhamTheoThuongHieu", new { id = thuongHieu.MaThuongHieu }, null)</li>

                            }
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Blog", "DanhSachTinTuc", "XemTinTuc")</li>
                    <li>@Html.ActionLink("Liên hệ", "LienHe", "LienHe")</li>
                    <li>@Html.ActionLink("Kiểm tra đơn hàng", "KiemTraDonHang", "KiemTraDonHang")</li>
                    @if (Session["username"] == null)
                    {
                        <li>@Html.ActionLink("Đăng Nhập", "DangNhap", "DangNhap")</li>

                    }
                    else
                    {
                        <li>

                            @{
                                string link = "[" + @Session["Hoten"] + "] Đăng Xuất";
                            }
                            @Html.ActionLink(link, "DangXuat", "DangXuat")

                        </li>

                    }
                    @if (Session["Phanquyen"] != null && (String)Session["Phanquyen"] == "admin".Trim())
                    {
                        <li>@Html.ActionLink("Quản Lý Website", "Index", "QuanLyWebsite")</li>
                    }
                    <div style="position: absolute; top: 15px; right: 200px;">
                        <a  style="color: white; font: bold; text-decoration: none;" href="@Url.Action("XemGioHang", "XemGioHang")">Giỏ Hàng</a>
                    </div>


                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
 
</html>
