@model WEB.Models.SANPHAM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SANPHAM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DANHMUC.TenDanhMuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DANHMUC.TenDanhMuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THUONGHIEU.TenThuongHieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THUONGHIEU.TenThuongHieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DungTich)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DungTich)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaSanPham }) |
    @Html.ActionLink("Back to List", "Index")
</p>
