@model WEB.Models.KHOHANG

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>KHOHANG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CUAHANG.TenCuaHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUAHANG.TenCuaHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SANPHAM.TenSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SANPHAM.TenSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
