
@model IEnumerable<WEB.Models.TAIKHOAN>
@{
    ViewBag.Title = "Quản Lý Tài Khoản";
    Layout = "~/Views/Shared/Backend.cshtml";
}

 





<h2>Quản lý thông tin tài khoản</h2>

<p>
    @Html.ActionLink("Thêm mới", "TaoTaiKhoan", "QuanLyTaiKhoan")
</p>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Họ
                </th>
                <th>
                    Tên
                </th>
                <th>
                    Email
                </th>
                <th>
                    Số điện thoại
                </th>
                <th>
                    Mật khẩu
                </th>
                <th>
                    Phân quyền
                </th>

                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ho)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ten)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SDT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MatKhau)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhanQuyen)
                    </td>
                    <td>
                        @Html.ActionLink("Chỉnh sửa", "ChinhSuaTaiKhoan", new { id = item.ID }, new { @class = "btn btn-primary" })

                        @Html.ActionLink("Xóa", "XoaTaiKhoan", new { id = item.ID }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
