@model WEB.Models.BINHLUAN

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BINHLUAN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TINTUC.TieuDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TINTUC.TieuDe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaBinhLuan }) |
    @Html.ActionLink("Back to List", "Index")
</p>
