@model WEB.Models.DANHMUC
@{
    ViewBag.Title = "XoaDanhMuc";
    Layout = "~/Views/Shared/Backend.cshtml";
}

<h2>Xóa Danh Mục </h2>

<h3>Bạn có chắc chắn muốn xóa danh mục này không?</h3>

<div>
    <div class="info-container">
        <h4>Thông tin danh mục</h4>
        <hr />
        <div class="info-row">
            <span class="info-label">@Html.DisplayNameFor(model => model.MaDanhMuc)</span>
            <span class="info-value">@Html.DisplayFor(model => model.MaDanhMuc)</span>
        </div>
        <div class="info-row">
            <span class="info-label">@Html.DisplayNameFor(model => model.TenDanhMuc)</span>
            <span class="info-value">@Html.DisplayFor(model => model.TenDanhMuc)</span>
        </div>       
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Quay Lại", "QuanLyDanhMuc")
        </div>
    }
</div>