
@model IEnumerable<WEB.Models.GIAMGIA>
@{
    ViewBag.Title = "Quản Lý Giảm Giá";
    Layout = "~/Views/Shared/Backend.cshtml";
}







<h2>Quản lý thông tin Giảm Giá</h2>

<p>
    @Html.ActionLink("Thêm mới", "TaoGiamGia", "QuanLyGiamGia")
</p>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>
                    Mã Giảm Giá
                </th>
                <th>
                    Mô Tả
                </th>
                <th>
                    Tên Giảm Giá
                </th>
                <th>
                    Ngày Bắt Đầu
                </th>
                <th>
                    Ngày Kết Thúc
                </th>
                <th>
                    Số Lượng
                </th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaGiamGia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MoTa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenGiamGia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayBatDau)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayKetThuc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoLuong)
                    <td>
                        @Html.ActionLink("Sửa", "SuaGiamGia", new { id = item.MaGiamGia }, new { @class = "btn btn-primary" })

                        @Html.ActionLink("Xóa", "XoaGiamGia", new { id = item.MaGiamGia }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
