@model WEB.Models.CHITIETGIAMGIA

@{
    ViewBag.Title = "Xóa Chi Tiết Giảm Giá"; Layout = "~/Views/Shared/Backend.cshtml";
}

<h2>Xóa Chi Tiết Giảm Giá</h2>

<h3>Bạn có chắc chắn muốn xóa chi tiết giảm giá này?</h3>
<div>
    <h4>Thông tin chi tiết giảm giá</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaSanPham)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaGiamGia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaGiamGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MucGiamGia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MucGiamGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Giamua)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Giamua)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "SuaGiamGia", new { id = Model.MaGiamGia })
        </div>
    }
</div>
