@model WEB.Models.DANHGIA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DANHGIA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SANPHAM.TenSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SANPHAM.TenSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiDungDanhGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDungDanhGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiGian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDanhGiaSanPham }) |
    @Html.ActionLink("Back to List", "Index")
</p>
