@model WEB.Models.HINHTHUCVANCHUYEN
@{
    ViewBag.Title = "Sửa Hình Thức Vận Chuyển ";
    Layout = "~/Views/Shared/Backend.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="form-container">
    <h4 style="margin:20px;">Chỉnh Sửa Thông Tin Hình Thức Vận Chuyển</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MaHinhThucVanChuyen)
    <div class="form-group row">
        @Html.LabelFor(model => model.MaHinhThucVanChuyen)
        @Html.DisplayFor(model => model.MaHinhThucVanChuyen)
    </div>
    <div class="form-group row">
        @Html.LabelFor(model => model.TenHinhThucVanChuyen)
        @Html.EditorFor(model => model.TenHinhThucVanChuyen, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.TenHinhThucVanChuyen, "", new { @class = "text-danger" })
    </div>
    <div class="form-group row">
        @Html.LabelFor(model => model.MoTa)
        @Html.TextAreaFor(model => model.MoTa, new { @class = "form-control", rows = 4 })
        @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <input type="submit" value="Xác Nhận Sửa" class="btn btn-default" />
    </div>
</div>
}

<div>
    @Html.ActionLink("Quay Lại", "QuanLyHinhThucVanChuyen", "QuanLyHinhThucVanChuyen", null, new { @class = "btn-link" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

